<div class="container mt-4">
    <div class="d-flex  justify-content-center align-items-center">
        <div class="col col-m-5 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="Tittle-Form"> Perfil De Usuario<i class="Icon fas fa-user-tie"></i></h2>
                </div>
                <div class="card-body">
                    <form class="registerForm" [formGroup]="editForm" >
                            <div class="form-group">
                                <label class="Text" for="login"> Username</label>
                                <input type="text" class="form-control" id="login" formControlName="login">
                            </div>
                            <div class="form-group">
                                <div class="FirstName-Container">
                                    <label class="Text" for="firstName"> First Name</label>
                                    <input type="text" class="form-control" id="firstName" formControlName="firstName">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="LastName-Container">
                                    <label class="Text" for="lastName"> Last Name</label>
                                    <input type="text" class="form-control" id="lastName" formControlName="lastName">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="Email-Container">
                                    <label class="Text" for="email"> Email</label>
                                    <input type="email" class="form-control" id="email" formControlName="email">
                                </div>
                            </div>
                            <div class="Options-Container">
                                <div class="options-select">
                                    <label class="Text" for="authorities">Profile</label>
                                    <input type="text" class="form-control" id="authorities" formControlName="authorities">
                                </div>
                                <div class="form-group form-check check-box">
                                    <input type="checkbox" class="form-check-input" id="activated"
                                        formControlName="activated">
                                    <label class="form-check-label Text" for="activated">User Active</label>
                                </div>
                            </div>
    
                            <div class="Content-Button">
                                <button type="submit" class="btn btn-dark buttonCancel"
                                    [routerLink]="['/dashboard']">Cancel</button>
                                <button type="submit"  (click)="updateData()" class="btn btn-success buttonSubmit">Actualizar</button>
                                
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
