.card-header
    text-align: center
    height: 8em
    background-image: url(/assets/Images/Banner2.jpg)

.Tittle-Form
    text-align: center
    margin-top: 0.7em
    color: white
.buttonSubmit, .buttonCancel
    margin-left: 2em
    max-width: 100%
    width: 30%
.Content-Button
    text-align: center
    margin-top: 2em
.Validations-Input-Names, .validations
    font-size: 13px
.icon-username, .icon-firstname, .icon-lastname, .icon-email, .icon-profile
    font-size: 21px
    margin-left: 5px
    margin-right: 5px
.icon-user-active
    margin-left: 5px
    font-size: 21px
.check-box
    margin-top: 1em
    text-align: center
.Text
    font-family: 'Do Hyeon', sans-serif

.Icon
    padding-left: 0.5em
    font-size: 1.5em