<div class="ContenedorGeneral">
    <div class="ContenedorGeneral2 text-center">
        <div class="card mx-auto" style="width: 18rem;"> 
            <div class="card-body">
                <h5 class="card-title text-uppercase"><b>login</b></h5>
                <form [formGroup]="loginForm" (ngSubmit)="login()">

                    <label for="username" class="col">
                        <p class="text-uppercase">Usuario</p>
                    </label>
                    <input type="text" formControlName="username" name="username">
                    <div *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty)" >
                        <div *ngIf="loginForm.get('username').errors.required" >
                          <p class="validations alert alert-danger" role="alert">Este campo es requerido</p>
                        </div>
                        <div *ngIf="loginForm.get('username').errors.minlength" >
                          <p class="validations alert alert-danger" role="alert" >
                            minimo 4 caracteres.
                          </p>
                        </div>
                    </div>


                    <label for="password" class="col">
                        <p class="text-uppercase">Contrasena</p>
                    </label>
                    <input type="password" formControlName="password" name="password">
                    <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty)" >
                        <div *ngIf="loginForm.get('password').errors.required" >
                          <p class="validations alert alert-danger" role="alert">Este campo es requerido</p>
                        </div>
                        <div *ngIf="loginForm.get('password').errors.minlength" >
                          <p class="validations alert alert-danger" role="alert" >
                            minimo 4 caracteres.
                          </p>
                        </div>
                    </div>

                    <label for="" class="text">
                        <p class="text-capitalize mt-2 mr-3">recuerdame</p>
                    </label>

                    <input type="checkbox" formControlName="rememberMe" name="rememberMe">

                    <div class="row">
                        <button type="submit" [disabled]="loginForm.invalid"
                            class="btn btn-success col-10 mt-2 mx-auto">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>