<div class="jumbotron jumbotron-fluid Cont">
    <div class="container">
      <h1 class="display-4">
        <i class="fas fa-exclamation-triangle textError">
        </i> No puedes acceder a este contenido
      <div class="spinner-grow text-danger spinnersito" role="status">
        <span class="sr-only">Loading...</span>
      </div></h1>
      <div class="content-denied">
        <p class="lead">
          Lo sentimos, no puedes acceder a editar o 
          visualizar este contenido, ya que no posees
          permisos de administrador
        </p>
        <button type="button" routerLink = "/dashboard" class="btn btn-dark">Regresar</button>
      </div>
    </div>
  </div>