

<h2>Clients</h2>
<!-- label for="">Buscar</label>
<input type="text">
<button>Buscar</button -->
<br>

<form [formGroup]="searchForm"  >

    <input type="text" autocomplete="off" formControlName="document" (keyup)="searchClient()"  name="document"  >

    <p-autoComplete 
        formControlName="document"
        field="clientName" 
        [suggestions]="clientsList" 
        (onSelect)="addClientToSale($event)"
        (completeMethod)="searchClientAutocomplete($event)">
       
        <ng-template let-brand pTemplate="item">
            <div >
                <div >{{brand.clientName}}</div>
            </div>
        </ng-template> 

        <ng-template let-value pTemplate="selectedItem">
            <span >{{value.clientName}}</span>
        </ng-template>

    </p-autoComplete>

    <!--button type="submit">Buscar</button-->
  </form>
<hr>


 <!--table *ngIf="clientsList.length > 0" class="table table-light" border="1">
     <thead class="thead-light">
         <tr>
             <th>ID</th>
             <th>Nombre</th>
             <th>Documento</th>
             <th>Email</th>
             <th>Selected Client</th>
         </tr>
     </thead>
     <tbody>
         <tr *ngFor="let item of clientsList">
             <td>{{item.id}}</td>
             <td>{{item.name}}</td>
             <td>{{item.document}}</td>
             <td>{{item.email}}</td>
             <td>
                 <button (click)="addClientToSale(item)" >Selected</button>
             </td>
         </tr>
     </tbody>
 </table -->
<h2>Catálogo</h2>
<table class="table table-light" border="1">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Model</th>
            <th>Price</th>
            <th>Serial</th>
            <th>Comprar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of bikeList">
            <td>{{item.id}}</td>
            <td>{{item.model}}</td>
            <td>{{item.price}}</td>
            <td>{{item.serial}}</td>
            <td>

                <button (click)="addToCar(item)" >Agregar al carrito</button>

            </td>
        </tr>
    </tbody>
</table>
<div class="row justify-content-lg-center">
    <div class="col-lg-6">
        <a class="btn btn-light btn-xs" (click)="initQueryPages(i)" *ngFor="let item of listPages; index as i">{{i+1}}</a> 
    </div>
</div>

<h3>CAR</h3>
<h3 *ngIf="selectedClientTemp">{{selectedClientTemp.clientName}}</h3>
<table class="table table-light" border="1">
    <thead class="thead-light">
        <tr>
            <th>Serial</th>
            <th>Model</th>
            <th>Price</th>
            <th>Client ID</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of salesListCar">
            <td>{{item.bike.serial}}</td>
            <td>{{item.bike.model}}</td>
            <td>{{item.bike.price}}</td>
            <td>{{item.clientId}}</td>
        </tr>
    </tbody>
  
</table>

<h1>Total: {{total}}</h1>
<button (click)="confirmSale()">Confirmar</button>

