<div class="container mt-4">
    <div class="d-flex  justify-content-center align-items-center">
        <div class="col col-m-5 col-lg-6">
            <div class="card">

                <div class="card-body">
                    <form class="registerForm" [formGroup]="registerForm" (ngSubmit)="registerUser()">

                        <h2 class="Tittle-Form"><i class="fas fa-user-tie Icon"></i>Register User</h2>
                        <div class="form-group Username">
                            <label for="login"> <i class="icon-username fas fa-user-circle"></i> Username</label>
                            <input type="text" class="form-control" id="login" formControlName="login"
                                placeholder="Example: 'NoobMaster69'">
                            <div *ngIf="registerForm.get('login').invalid && (registerForm.get('login').dirty)">
                                <div *ngIf="registerForm.get('login').errors.required">
                                    <p class="validations alert alert-danger" role="alert">Este campo es requerido</p>
                                </div>
                                <div *ngIf="registerForm.get('login').errors.minlength">
                                    <p class="validations alert alert-danger" role="alert">
                                        Este campo debe de contener minimo 4 caracteres.
                                    </p>
                                </div>
                                <div *ngIf="registerForm.get('login').errors.maxlength">
                                    <p class="validations alert alert-danger" role="alert">
                                        Este campo debe de contener máximo 12 caracteres.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="Input-Names-Container form-group">
                            <div class="FirstName-Container">
                                <label for="firstName"> <i class="icon-firstname fas fa-user-edit"></i> First Name</label>
                                <input type="text" class="form-control" id="firstName" formControlName="firstName"
                                    placeholder="Your name">
                                <div class="Validations-Input-Names"
                                    *ngIf="registerForm.get('firstName').invalid && (registerForm.get('firstName').dirty)">
                                    <div *ngIf="registerForm.get('firstName').errors.required">
                                        <p class="validations alert alert-danger" role="alert">Este campo es requerido
                                        </p>
                                    </div>
                                    <div *ngIf="registerForm.get('firstName').errors.minlength">
                                        <p class="validations alert alert-danger" role="alert">
                                            Mínimo 4 caracteres.
                                        </p>
                                    </div>
                                    <div *ngIf="registerForm.get('firstName').errors.maxlength">
                                        <p class="validations alert alert-danger" role="alert">
                                            Máximo 20 caracteres.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="LastName-Container">
                                <label for="lastName"> <i class="icon-lastname fas fa-file-signature"></i> Last Name</label>
                                <input type="text" class="form-control" id="lastName" formControlName="lastName"
                                    placeholder="Your last name">
                                <div
                                    *ngIf="registerForm.get('lastName').invalid && (registerForm.get('lastName').dirty)">
                                    <div *ngIf="registerForm.get('lastName').errors.required">
                                        <p class="validations alert alert-danger" role="alert">Este campo es requerido
                                        </p>
                                    </div>
                                    <div *ngIf="registerForm.get('lastName').errors.minlength">
                                        <p class="validations alert alert-danger" role="alert">
                                            Mínimo 4 caracteres.
                                        </p>
                                    </div>
                                    <div *ngIf="registerForm.get('lastName').errors.maxlength">
                                        <p class="validations alert alert-danger" role="alert">
                                            Máximo 20 caracteres.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="Email-Container">
                            <label for="email"><i class="icon-email fas fa-mail-bulk"></i> Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email"
                                placeholder="example@gmail.com">
                            <div
                                *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty)">
                                <div *ngIf="registerForm.get('email').errors.required">
                                    <p class="validations alert alert-danger" role="alert">Este campo es requerido
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="OptionRols">
                            <div class="choseeRol">
                                <label for="validationCustom04">State</label>
                                <select multiple class="form-control" formControlName="authorities" id="validationCustom04" required>
                                    <option selected disabled value="">Selecciona tu rol</option>
                                    <option value="ROLE_ADMIN">Administrador</option>
                                    <option value="ROLE_USER">Usuario</option>
                                    <option value="ROLE_CLIENT">Cliente</option>
                                </select>
                            </div>

                            <div class="checkBox">
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="activated" formControlName="activated">
                                    <label class="form-check-label" for="activated"> <i class="fas fa-user-tie"></i> User Active</label>
                                </div>
                            </div>

                        </div>

                        <div class="Content-Button">
                            <button type="submit" class="btn btn-info buttonCancel"
                                [routerLink]="['/dashboard']">Cancel</button>
                            <button type="submit" class="btn btn-info buttonSubmit">Create User</button>
                            <small id="userInfo" class="form-text text-muted">Press 'Create User' when you have verified
                                all your data and are sure of what you do.</small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>