.card-header
    text-align: center
    background-color: #C2FFEE !important
    background-image: url(../../../assets/Images/Banner.jpg)
    height: 9em
    background-attachment: scroll
    background-size: cover

.card
    background-image: url(https://image.freepik.com/vector-gratis/fondo-abstracto-gris-blanco-degradado_53876-62619.jpg)

.Tittle-Form
    text-align: center
    margin-bottom: 2em
    border-bottom: 3px solid black
    padding-bottom: 0.2em

.buttonSubmit, .buttonCancel
    margin-left: 2em
    max-width: 100%
    width: 30%
.Content-Button
    text-align: center
    margin-top: 2em
    
.Input-Names-Container
    text-align: center
    margin-top: 2em

.Validations-Input-Names, .validations
    font-size: 13px

.choseeRol
    margin-top: 1em

Input, .registerForm
    text-align: center

.FirstName-Container, .LastName-Container, .Email-Container, .OptionRols, .Username
    margin-top: 2em
    
.Icon
    margin-right: 0.4em
    font-size: 1.5em

.icon-username, .icon-firstname, .icon-lastname, .icon-email, .icon-profile
    font-size: 21px
    margin-left: 5px
    margin-right: 5px
.icon-user-active
    margin-left: 5px
    font-size: 21px