.username-data
  margin: 1em
  color: white
.button-logout
  margin: 1px

.bicicletica
  color: aliceblue
  margin-right: 1em
  margin-left: 0.5em

.NameBike
    font-weight: 800
    font-size: 1.4em

.rutaRegister, .rutaProfile, .rutaBike, .rutaSale
  font-size: 1em
  font-weight: 200
  color: black !important
  font-family: 'Do Hyeon', sans-serif