<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Consequuntur quos nesciunt quidem odio illo harum eum, 
            voluptatibus nobis omnis aliquam possimus explicabo quod 
            dignissimos iste enim consectetur at est neque.
        </div>
        <div class="col-lg-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>